.section1 {
    background: linear-gradient(to bottom, transparent, rgb(233, 117, 104)),
    url("../../assets/library1.jpg");
    background-repeat: no-repeat;
    width: 99vw;
    margin-top: 65px;
    height: 920px;
}

.bt1 {
    margin: 0;
    position: absolute;
    width: 150px;
    height: 50px;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hed1 {
    font-size: 50px;
    margin: 0;
    position: absolute;
    width: 700px;
    top: 60%;
    left: 20%;
    color: white;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (max-width:480px) {
    .section1{
        width: 110vw;
        height: 800px;
    }
    .bt1 {
        top: 70%;
        margin-top: '20px';
    }
    .hed1 {
        left: 52%;
        width: 400px;
        font-size: 40px;
    }
}

